.bg-[#F7F7F7] {
    background-color: #F7F7F7;
}

.quiz-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.quiz-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.quiz-input {
    padding: 10px;
    border: 2px solid #b0006e;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
}

.quiz-button {
    background-color: #b0006e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quiz-button:hover {
    background-color: #00b0b987;
}

.text-2xl {
    font-size: 24px;
}

.font-bold {
    font-weight: bold;
}
