.dashboard-body {
  background-color: #f8f9fa;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background-color: rgba(0, 176, 185, 0.53);;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.2s, background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.schedule-container {
  background-color: #00b0b987;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.2s, background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.schedule-container:hover {
  transform: scale(1.05);
  background-color: #b0006e;
}

.nurse-container:hover {
  transform: scale(1.05);
  background-color: #b0006e;
}

.activity-container:hover {
  transform: scale(1.05);
  background-color: #b0006e;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.nurse-container {
  background-color: #00b0b987;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.2s, background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.activity-container {
  background-color: #00b0b987;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.2s, background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-body span {
  font-size: 18px;
  font-weight: bold;
}

.dashboard-body .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-section {
  width: 90%;
}

.sub-section h4 {
  color: #11344c;
  font-size: 18px; /* Ensure same font size as container title */
  font-weight: bold;
}